body {
  background-color: #f6e8ea;
  font-family: "Poppins", sans-serif;
}

h1 {
  color: #c200fb;
  text-align: center;
  background-color: #ffbc0a;
}

#ques {
  color: #c200fb;
  position: absolute;
  left: 15%;
  top: 15%;
  font-size: 2em;
  border: 5px solid #ffbc0a;
  /* background-color: #ffbc0a; */
  border-radius: 50%;
  padding: 20px;
  height: 75px;
  width: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pointsbox {
  color: #c200fb;
  position: absolute;
  right: 15%;
  top: 15%;
  font-size: 2em;
  border: 5px solid #ffbc0a;
  border-radius: 50%;
  padding: 20px;
  word-wrap: normal;
  text-align: center;
  height: 75px;
  width: 75px;
}

/* How to center a div w/ help from https://blog.hubspot.com/website/center-div-css
Top is pushing from the top of the screen, left is pushing from the left of the screen
Transform: translate is moving the element */

/* question div move to center-center */
#questionbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #c200fb;
  padding: 25px;
  border-radius: 50%;
  background-color: #ffbc0a;
  max-width: 25%;
  text-align: center;
}
/* move answer boxes to top, right, bottom, left */
#answer1 {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translate(-50%, -50%);
}

#answer2 {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#answer3 {
  position: absolute;
  left: 50%;
  top: 85%;
  transform: translate(-50%, -50%);
}

#answer4 {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.answers {
  border: 5px solid #c200fb;
  padding: 20px;
  border-radius: 50%;
  background-color: #ffbc0a;
  width: 15%;
}

/* ring color */
.ring {
  height: 69%;
  width: 48%;
  border: 20px solid #c200fb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* text box color */

/* green to use when question correct */
.ringCorrect {
  border: 20px solid #16db65;
}

/* red to use when question incorrect */
.ringIncorrect {
  border: 20px solid #fe5448;
}

.correct {
  background-color: #16db65;
}

.incorrect {
  background-color: #fe5448;
}

.wait {
  pointer-events: none;
}

/* .finish {

} */
