body {
  background-color: #f6e8ea;
}

h1 {
  color: #c200fb;
  text-align: center;
}

/* How to center a div w/ help from https://blog.hubspot.com/website/center-div-css
Top is pushing from the top of the screen, left is pushing from the left of the screen
Transform: translate is moving the element */

/* question div move to center-center */
#questionbox {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #c200fb;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffbc0a;
}
/* move answer boxes to top, right, bottom, left */
#answer1 {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  border: 5px solid #c200fb;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffbc0a;
}

#answer2 {
  position: absolute;
  left: 75%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #c200fb;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffbc0a;
}

#answer3 {
  position: absolute;
  left: 50%;
  top: 75%;
  transform: translate(-50%, -50%);
  border: 5px solid #c200fb;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffbc0a;
}

#answer4 {
  position: absolute;
  left: 25%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid #c200fb;
  padding: 10px;
  border-radius: 50%;
  background-color: #ffbc0a;
}

/* ring color */
.ring {
  height: 50%;
  width: 50%;
  border: 15px double #c200fb;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

/* text box color */

/* green to use when question correct */

/* red to use when question incorrect */
